/* HEADER */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');


:root {
    /** Colors */
    --Black: #000;
    --Blanco: #ffffff;
    --Marron-oscuro: #5a442d;
    --Marron-claro: #c6ac8f;
    --Beish: #eae0d5;
    /** Fonts */
    --overall-fontsize: 62.5%;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.4rem;
    font-family: 'Cinzel', sans-serif;
    background-color: #fff;
    color: #3b3b3b;
}

header {
    padding: 1rem 2rem;
    /* border-bottom: 1px solid #ddd; */
}

nav.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    display: flex;
    color: var(--Marron-oscuro);
    font-size: 2rem;
}



ul.links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

ul.links a {
    text-decoration: none;
    color: var(--Marron-oscuro);
    font-family: 'PT Serif';
}

img.img_iniciar {
    width: 42px;
}

/* main */

.main {
    padding: 1rem;
    text-align: center;
    min-height: calc(100vh - 70px);
}

.title {
    font-size: 1.8rem;
    font-family: 'Cinzel', serif;
    margin-bottom: 5rem;
    color: var(--Marron-oscuro)
}

.outfit-section {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.main-look{
    display: flex;
}

.main-look img {
    /* border: 3px solid #4a2d1f; */
    display: flex;
    border-radius: 1rem;
    max-width: 250px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.main-look img:hover {
    transform: scale(1.03);
}

.outfit-details {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
}

.item {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--Beish);
    border-radius: 10px;
    padding: 1rem;
    position: relative;
    transition: transform 0.3s ease, border 0.3s ease;
    cursor: pointer;
}

.item:hover {
    transform: scale(1.05);
    border: 2px solid var(--Marron-claro);
}

.item img {
    width: 60px;
    /* border: 2px solid #4a2d1f; */
    /* border-radius: 0.5rem; */
}

.item p {
    margin: 0;
    font-size: 0.9rem;
    color: var(--Marron-oscuro);
    font-family: 'ST Serif', serif;
}

.extra-options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    width: 23rem;
}

.option {
    text-align: center;
    transition: transform 0.3s ease, border 0.3s ease;
    cursor: pointer;
    position: relative;
}

.option:hover {
    transform: scale(1.05);
  }


.option img {
    width: 6.8rem;
    /* border: 3px solid #4a2d1f; */
    border-radius: 1rem;
}

.option p {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    font-family: 'ST Serif', serif;
}

.option1 {
    display: flex;
    flex-direction: row-reverse;
    gap: 3.5rem;
    align-items: center;
}


.option2 {
    display: flex;
    /* flex-direction: row-reverse; */
    gap: 3.5rem;
    align-items: center;
    justify-content: end;
}

.option3 {
    display: flex;
    flex-direction: row-reverse;
    gap: 3.5rem;
    align-items: center;
}


/* FOOTER */

footer {
    padding: 2px;
    background-color: var(--Beish);
    /* border-radius: 92px 92px 0 0; */
}

.footer-caja {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-around;
}

.log-img {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    gap: 1px;
    height: 349px;
}

img.logo-footer {
    width: 342px;
    margin-left: -101px;
    /* padding: 15px; */
    height: 170px;
}

.iconos {
    /* list-style: none; */
    /* padding: 0; */
    /* margin: 0; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* margin-top: -50px; */
}

.iconos p {

    font-family: 'PT Serif';
}

li.footer-li {
    display: flex;
    gap: 1rem;
}

.enlace {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.enlace p {
    font-family: 'PT Serif';
}

h4.enlace1 {
    display: flex;
    /* margin-top: 68px; */
    align-items: end;
    height: 100px;
}

ul.enlaces {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* margin-top: -77px; */
    height: 156px;
}

.caja-footer3 {
    width: 267px;
    /* height: 324px; */
    display: flex;
    align-items: center;
    /* gap: 1rem; */
    /* margin-top: 30px; */
    flex-direction: column;
    justify-content: space-around;
}

.reds {
    height: 100px;
}

.reds h4 {
    display: flex;
    height: 100px;
    align-items: end;
}

/* h4.redes-s {
    margin-top: -110px;
} */

.icons {
    display: flex;
    gap: 1rem;
    height: 163px;
    font-size: 3rem;
}



.qr {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.titleqr {
    display: flex;
    height: 100px;
    align-items: end;
    justify-content: center;
}

img.imgqr {
    height: 50%;
}